@charset "utf-8";

/* ............................................. */
/* YEAR DIVIDER................................. */
/* ............................................. */
ul header.year-divider{
  list-style-type: none;
  background-color: #dddddd; 
  color: #1a1a1a;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 0.2em auto 0.2em auto;
  margin: 0.5em 2em 0.5em 0;
}

/* ............................................. */
/*  STORY....................................... */
/* ............................................. */

ul li,
ul li a,
ul li p {
  color: black;
  display: block;
  margin-left: 1em;
}

ul li a {
  font-variant: small-caps;
  text-decoration: none;
  width: fit-content;
}

ul li p {
  font-style: italic;
}

li.card a:first-of-type,
li.title a:first-of-type{
  font-variant: small-caps;
  margin-left: 0;
}

li p {
  padding: 0;
  margin: 0;
}

/* ............................................. */
/*  STORY STATUS................................ */
/* ............................................. */

li.card.working a:first-of-type,
li.title.working a:first-of-type{
  color:blue;    
}

li.card.read a:first-of-type::after,
li.title.read a:first-of-type::after {
  content: " ⊕";
}

li.card.complete a:first-of-type,
li.title.complete a:first-of-type {
  color:DarkGreen;
}

li.card.skip a:first-of-type,
li.title.skip a:first-of-type {
  color:DarkRed;
  text-decoration: line-through;
}

/* ............................................. */
/*  STAGING AREA................................ */
/* ............................................. */
a[href='']{
  display:none;
}

.gutenburg::before {
  content: "[Gutenburg] ";
}

