@charset "utf-8";

/* ............................................. */
/* BANNER....................................... */
/* ............................................. */

table.banner {
	width: 100%; 
	padding:1em;
	background-color:#1a1a1a;
	color: #dddddd; 
}

.banner td,
.banner blockquote{
	padding:0.5em;
}

.banner blockquote{
	font-variant: small-caps;
}

.banner h1 {
	font-size: 1.5em;
}

.banner img {
	display:inline-block;
}

/* ............................................. */
/* SUMMARY...................................... */
/* ............................................. */
body header p{
	margin: 0; padding:0;
}

/* ............................................. */
/* YEAR DIVIDER................................. */
/* ............................................. */
ul header.year-divider{
  list-style-type: none;
  background-color: #dddddd; 
  color: #1a1a1a;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 0.2em auto 0.2em auto;
  margin: 0.5em 2em 0.5em 0;
}


/* ............................................. */
/*  STORY....................................... */
/* ............................................. */
ul li {
	margin-top: 0.5em;
}

ul li,
ul li a,
ul li p {
  color: black;
  display: block;
  margin-left: 1em;
}



ul li a {
  font-size: 0.8em;
  font-variant: small-caps;
  text-decoration: none;
  width: fit-content;
}

ul li p {
  font-size: 0.9em;
  font-style: italic;
}

li.title a:first-of-type{
  font-size: 1em;
  font-variant: small-caps;
  margin-left: 0;
}

li p {
  /* hashtags and summary */
  padding: 0;
  margin: 0;
}

/* ............................................. */
/*  STORY STATUS................................ */
/* ............................................. */

li.title.working a:first-of-type{
  color:blue;    
  text-decoration:underline;
}
li.title.read a:first-of-type::after {
  content: " ⊕";
}
li.title.complete a:first-of-type {
  color:DarkGreen;
}
li.title.skip a:first-of-type {
  color:DarkRed;
  text-decoration: line-through;
}


/* ............................................. */
/*  STAGING AREA................................ */
/* ............................................. */
a[href='']{
  display:none;
}
